# This is a basic workflow to help you get started with Actions

name: Make SRPM

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: git update
        run: git fetch --progress --tags --depth=1

      - name: Docker build
        run: docker build -t bld35:now .

      - name: Docker run
        run: chmod 777 . djgpp/ && docker run -v $PWD:/bld bld35:now /bin/bash -c "cd /bld/djgpp && ./mk-djcross-gcc.sh"

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: rpms
          path: |
            djgpp/*.rpm
